<%= render 'shared/content_title', title: "View Profile: #{@user.username}" %>

<div class="row">
  <div class="span12 well">
    <p><strong>User name:</strong> <%= @user.username %></p>
    <p><strong>Time zone:</strong> <%= display_timezone_info(@user.time_zone) %></p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h5><%= @user.username %> Activity</h5>

    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#posts">Posts (<%= @user.posts.size %>)</a></li>
      <li><a href="#comments">Comments (<%= @user.comments.size %>)</a></li>
    </ul>
 
    <div class="tab-content">
      <div class="tab-pane active" id="posts">
        <%= render(@user.posts) || "No posts by #{@user.username}" %>
      </div>
      <div class="tab-pane" id="comments">
        <div class="span8 well">
          <%= render(partial: 'comments/comment', collection: @user.comments.order("created_at DESC"), locals: { display_post: true }, spacer_template: 'comments/comment_spacer') || "No comments by #{@user.username}" %>
        </div>
      </div>
    </div>
 
    <script>
      $(function () {
        $('#myTab a:first').click( function(){
          $(this).tab('show');
        });
        $('#myTab a:last').click( function(){
          $(this).tab('show');
        });
      })
    </script>

  </div>
</div>