<div class="row">
  <div class="span8 well">

    <%= render post.categories %>

    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class="quiet">Posted by</span>
      <%= (post.creator.nil?) ? 'Anonymous' : post.creator.username %>
      <small>at <%= datetime_formatter(post.created_at) %></small>
    </p>
    <small>
      <span>
        <%= link_to "#{post.comments.size} #{"comment".pluralize(post.comments.size)}", post_path(post) %>
      </span>
      <span>
        <%= link_to "(Edit)", edit_post_path(post) %>
      </span>
    </small>
  </div>
</div>