<div class="row">
  <div class="span2 well vote-panel">
    <%= link_to vote_post_path({ id: post.id, vote: 1 }), method: 'post', class: 'vote-arrow' do %>
      <i class="vote-arrow icon-arrow-up"></i>
    <% end %>
    <br>
    <h3 class="vote-score <%= vote_score_color(post.total_votes_score) %>"><%= post.total_votes_score %></h3>
    <br>
    <%= link_to vote_post_path({ id: post.id, vote: -1 }), method: 'post', class: 'vote-arrow' do %>
      <i class="vote-arrow icon-arrow-down"></i>
    <% end %>
  </div>


  <div class="span8 well">

    <%= render post.categories %>

    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class="quiet">Posted by</span>
      <%= display_user(post.creator) %>, 
      <small><%= datetime_formatter(post.created_at) %></small>
    </p>
    <small>
      <span>
        <%= link_to "#{post.comments.size} #{"comment".pluralize(post.comments.size)}", post_path(post) %>
      </span>
      <% if logged_in? %>
        <span>
          <%= link_to "(Edit)", edit_post_path(post) %>
        </span>
      <% end %>
    </small>
  </div>
</div>