<div class="row">

  <%= render partial: 'votes/vote', locals: { vote_up_path: vote_post_path({ id: post.id, vote: 1 }),
                                              vote_down_path: vote_post_path({ id: post.id, vote: -1 }),
                                              obj: post
                                            } %>

  <div class="span8 well">

    <%= render post.categories %>

    <h4><%= link_to post.title, post_path(post) %> &nbsp;&nbsp;&nbsp;<small><%= link_to 'View Site', fix_url(post.url) %></small> </h4>
    <p><%= post.description %></p>

    <%= render 'shared/creator_details', obj: post %>

    <small>
      <span>
        <%= link_to "#{post.comments.size} #{"comment".pluralize(post.comments.size)}", post_path(post) %>
      </span>
      <% if logged_in? && (current_user == post.creator) %>
        <span>
          <%= link_to "(Edit)", edit_post_path(post) %>
        </span>
      <% end %>
    </small>
  </div>
</div>