<%= render 'shared/content_title', title: "Post: #{@post.title}" %>

<p>
  <%= render @post.categories %>
</p>

<p><strong>URL: </strong><%= link_to @post.url, fix_url(@post.url) %></p>
<p><strong>Description: </strong><%= @post.description %></p>

<br>

<small>
  <%= link_to('Edit', edit_post_path(@post)) if (current_user && (current_user == @post.creator) )%>
  <%= '|' if (current_user && (current_user == @post.creator) ) %>
  <%= link_to 'Back to All Posts', posts_path %>
</small>

<hr/>

<h4>Comments</h4>

<div class="row">
  <div class="span10 well">
    <% if current_user %>
      <h6>Create Comment</h6>
      <%= render 'comments/form' %>
      <hr>
    <% end %>

    <%= render(partial: 'comments/comment', collection: @post.comments.order("created_at DESC"), locals: { display_post: false }, spacer_template: 'comments/comment_spacer') || 'No comments for post.' %>
  </div>
</div>