<div class="well vote-panel">
  
  <p class="vote-score-text"><small>Score</small></p>

    <div class="vote-arrow-down">
      <% if logged_in? %>
        <%= link_to vote_down_path, method: 'post', class: 'vote-arrow', remote: true do %>
          <i class="vote-arrow icon-arrow-down"></i>
        <% end %>
      <% end %>
    </div>

    <div class="vote-score">
      <h3 id="<%= vote_score_id(obj) %>" class="<%= vote_score_color(obj.total_votes_score) %>"><%= obj.total_votes_score %></h3>
    </div>

    <div class="vote-arrow-up">
      <% if logged_in? %>
        <%= link_to vote_up_path, method: 'post', class: 'vote-arrow', remote: true do %>
          <i class="vote-arrow icon-arrow-up"></i>
        <% end %>
      <% end %>
    </div>
    
</div>